.credit-section {
  margin-top: 150px;
  height: 200px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    margin-bottom: 20px;
  }
  .logos {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .nasa-logo {
      max-width: 150px;
      padding-right: 20px;
    }
    .arizona-logo {
      max-width: 60px;
    }
  }
}
