@import "../base/media-queries.scss";

.deimos {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  .deimos-info-col {
    margin-top: 250px;
    @media #{$md-and-smaller} {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      align-items: center;
      margin-top: 0px;
    }
  }
  .deimos-title {
    @media #{$md-and-smaller} {
      margin-right: 0px;
    }
  }
  .deimos-info {
    @media #{$md-and-smaller} {
      margin-right: 0px;
      padding-left: 65px;
      padding-right: 50px;
    }
  }
  .deimos-info,
  .deimos-title {
    flex-direction: row;
    max-width: 60%;
    margin-right: 250px;
    @media #{$md-and-smaller} {
      margin-right: 0px;
      max-width: 100%;
    }
  }
  .deimos-moon-img {
    max-width: 60%;
    margin-top: 300px;
    @media #{$md-and-smaller} {
      margin-top: 50px;
    }
    @media #{$ie11} {
      width: 50%;
    }
  }
}

.phobos {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  margin-bottom: 200px;
  .phobos-info-col {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: flex-end;
    @media #{$md-and-smaller} {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      align-items: center;
    }
  }
  .phobos-info {
    @media #{$md-and-smaller} {
      padding-left: 65px;
      padding-right: 50px;
    }
  }
  .phobos-info,
  .phobos-title {
    max-width: 60%;
    margin-left: 250px;
    @media #{$md-and-smaller} {
      margin-left: 0px;
      max-width: 100%;
    }
  }
  .phobos-moon-img {
    max-width: 60%;
    @media #{$ie11} {
      width: 50%;
    }
  }
  .phobos-moon-img,
  .phobos-title {
    @media #{$md-and-smaller} {
      margin-top: 50px;
    }
  }
}

.deimos-image-col,
.phobos-image-col {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
}

.explore-mars-row {
  .explore-mars-col {
    @media #{$ie11} {
      flex: 1 1 auto;
    }
    .explore-mars {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      justify-content: center;
      .mars-globe-container {
        @media #{$md-and-smaller} {
          width: 100vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          overflow-x: hidden;
        }
        .mars-globe-img {
          margin-top: 100px;
          @media #{$lg-and-larger} {
            max-width: 50vw;
          }
          @media #{$md-and-smaller} {
            height: 100vh;
          }
          @media #{$md-and-smaller} and (orientation: landscape) {
            height: 120vh;
          }
        }
      }
    }
  }
  .about-mars-left,
  .about-mars-right {
    max-width: 20%;
    ul {
      flex-direction: column;
      list-style: none;
      margin-top: 130px;
      padding: 0px;
      li {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
  .about-mars-left {
    padding-right: 50px;
  }
  .about-mars-right {
    padding-left: 50px;
  }
}

//Below only applicable to sm-md devices. classNames can be found in SmallDevices.js.

.about-mars-row {
  @media (min-width: 568px) and (max-width: 824px) {
    margin: 0 auto;
    width: 525px;
  }
}

.sm-md-ul-mars-info-1 {
  margin-top: 200px;
  margin-bottom: 0px;
}

.sm-md-ul-mars-info-1,
.sm-md-ul-mars-info-2 {
  padding-left: 25px;
  padding-right: 25px;
}
