@import "../base/media-queries.scss";

.deimos {
  display: flex;
  flex-direction: row;
  align-items: center;
  .deimos-info-col {
    margin-top: 250px;
    @media #{$md-and-smaller} {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0px;
    }
  }
  .deimos-title {
    @media #{$md-and-smaller} {
      margin-right: 0px;
    }
  }
  .deimos-info {
    @media #{$md-and-smaller} {
      margin-right: 0px;
      padding-left: 65px;
      padding-right: 50px;
    }
  }
  .deimos-info,
  .deimos-title {
    flex-direction: row;
    max-width: 60%;
    margin-right: 250px;
    @media #{$md-and-smaller} {
      margin-right: 0px;
      max-width: 100%;
    }
  }
  .deimos-moon-img {
    max-width: 60%;
    margin-top: 300px;
    @media #{$md-and-smaller} {
      margin-top: 50px;
    }
  }
}

.phobos {
  display: flex;
  align-items: center;
  margin-bottom: 200px;
  .phobos-info-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media #{$md-and-smaller} {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .phobos-info {
    @media #{$md-and-smaller} {
      padding-left: 65px;
      padding-right: 50px;
    }
  }
  .phobos-info,
  .phobos-title {
    max-width: 60%;
    margin-left: 250px;
    @media #{$md-and-smaller} {
      margin-left: 0px;
      max-width: 100%;
    }
  }
  .phobos-moon-img {
    max-width: 60%;
  }
  .phobos-moon-img,
  .phobos-title {
    @media #{$md-and-smaller} {
      margin-top: 50px;
    }
  }
}

.deimos-image-col,
.phobos-image-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.explore-mars {
  // width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .mars-globe-container {
    height: 100vh;
    .mars-globe-img {
      margin-top: 100px;
      max-width: 50vw;
      @media #{$sm-only} {
        max-width: 80vh;
      }
    }
  }

  .about-mars-left,
  .about-mars-right {
    max-width: 20%;
    ul {
      flex-direction: column;
      list-style: none;
      margin-top: 130px;
      padding: 0px;
      li {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  .about-mars-left {
    padding-right: 50px;
  }
  .about-mars-right {
    padding-left: 50px;
  }
}

//Below only applicable to sm-md devices. classNames can be found in SmallDevices.js.

.sm-md-ul-mars-info-1 {
  margin-top: 200px;
  margin-bottom: 0px;
}

.sm-md-ul-mars-info-1,
.sm-md-ul-mars-info-2 {
  padding-left: 15px;
  padding-right: 15px;
}
