.container-fluid {
  padding: 0px;
}

//Planum Australe landing page hero images and associated transition animations:

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-top: 220px;
  height: 520px;
}
