@import "../themes/colors.scss";

.footer-section {
  a {
    text-decoration: none;
    color: #616060;
    &:hover {
      color: $link-hover;
      transition: 0.25s ease-in;
    }
    span {
      font-size: 16px;
      transition: 0.25s ease-in;
    }
  }
}
