@import "../themes/colors.scss";

ul {
  display: flex;
  justify-content: center;
}

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // background-color: $background-main;
  z-index: 999;
}

.nav-links {
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 50px;
  list-style: none;
  color: $primary;
  &:hover {
    color: $link-hover;
    transition: 0.5s ease;
    text-decoration: underline $link-hover;
  }
}
